<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>194369646113-o828h0tj26546jale816g4akmm68b9q2.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.194369646113-o828h0tj26546jale816g4akmm68b9q2</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>194369646113-1slqmecfqu8ohe9lmbv4ctl2tt5dad3n.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyDi-M22TeG3DGz1ReSZn4xN55Lqy2HD8mI</string>
    <key>GCM_SENDER_ID</key>
    <string>194369646113</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>sv.gob.amss.San-Salvador-Historico</string>
    <key>PROJECT_ID</key>
    <string>app-ss-historico</string>
    <key>STORAGE_BUCKET</key>
    <string>app-ss-historico.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:194369646113:ios:ea91d32df946b2f1597d60</string>
</dict>
</plist>
